.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  width: 400px;
  height: 50px;
  font-weight: 900;
  font-size: xx-large;
  margin-bottom: 20px;
}

.button {
  height: 60px;
  width: 150px;
  font-weight: 900;
  font-size: x-large;
}

.green {
  color: green;
}

html {
  font-family: Arial, sans-serif;
  background-image: url("assets/img/gabriella-clare-marino-riwK6iSwcRk-unsplash.jpg");
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
